.u-section-1 {
  background-image: url("images/cyrptonitop.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 409px;
}

.u-section-1 .u-image-1 {
  width: 366px;
  height: 290px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 269px;
  }
}.u-section-2 {
  background-image: url("images/cyrptonitop.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 358px;
}

.u-section-2 .u-shape-1 {
  width: 818px;
  height: 114px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: -92px 20px 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  animation-duration: 1500ms;
  margin: 0 20px;
}

.u-section-2 .u-shape-2 {
  width: 368px;
  height: 138px;
  margin: 69px auto 0 386px;
}

.u-section-2 .u-image-1 {
  width: 338px;
  height: 64px;
  animation-duration: 1000ms;
  margin: -82px auto 0 401px;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  margin: -105px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-shape-1 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -131px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -130px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-2 .u-shape-1 {
    height: 165px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: -142px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 305px;
    margin-top: -79px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -107px;
  }
}.u-section-3 {
  background-image: url("images/cyrptonitop.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 63px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation-duration: 1500ms;
  font-size: 2.25rem;
  width: 135px;
  margin: 0 auto 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 19px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  background-image: url("images/cyrptonitop.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 249px;
}

.u-section-4 .u-group-1 {
  width: 532px;
  min-height: 249px;
  margin: 0 auto 0 15px;
}

.u-section-4 .u-container-layout-1 {
  padding: 1px 30px 9px;
}

.u-section-4 .u-text-1 {
  font-size: 0.875rem;
  line-height: 1.8;
  animation-duration: 1500ms;
  margin: 11px 0 0;
}

.u-section-4 .u-group-2 {
  width: 532px;
  min-height: 249px;
  margin: -249px 15px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 24px 30px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  line-height: 1.8;
  animation-duration: 1500ms;
  margin: 0 -11px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-4 .u-group-1 {
    width: 435px;
    min-height: 287px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-4 .u-group-2 {
    width: 429px;
    min-height: 287px;
    margin-top: -287px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-4 .u-group-1 {
    width: 328px;
    min-height: 381px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 3px;
  }

  .u-section-4 .u-group-2 {
    width: 316px;
    min-height: 381px;
    margin-top: -381px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-4 .u-group-1 {
    width: 510px;
    min-height: 242px;
    margin-top: 223px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-4 .u-group-2 {
    width: 510px;
    min-height: 216px;
    margin-top: -465px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 1px 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 0;
    min-height: 367px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-2 {
    min-height: 302px;
    margin-top: -686px;
    margin-bottom: 65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 {
  background-image: url("images/cyrptonitop.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 70px;
}.u-section-6 {
  background-image: url("images/cyrptonitop.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 340px;
}

.u-section-6 .u-shape-1 {
  width: 532px;
  height: 336px;
  margin: 2px auto 0 15px;
}

.u-section-6 .u-list-1 {
  min-height: 96px;
  grid-template-columns: 100%;
  width: 605px;
  grid-gap: 0px 0px;
  margin: -264px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-6 .u-icon-1 {
  height: 30px;
  width: 30px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 23px auto 0 0;
}

.u-section-6 .u-group-1 {
  width: 447px;
  min-height: 30px;
  margin: -52px auto 0 45px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-1 {
  animation-duration: 1500ms;
  margin: 0 -7px 0 -30px;
}

.u-section-6 .u-list-2 {
  min-height: 51px;
  grid-template-columns: 100%;
  width: 605px;
  grid-gap: 0px 0px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-6 .u-group-2 {
  width: 447px;
  min-height: 30px;
  margin: 1px auto 0 45px;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-2 {
  animation-duration: 1500ms;
  margin: 0 -7px 0 -30px;
}

.u-section-6 .u-icon-2 {
  height: 30px;
  width: 30px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -30px auto 0 0;
}

.u-section-6 .u-list-3 {
  min-height: 72px;
  grid-template-columns: 100%;
  width: 605px;
  grid-gap: 0px 0px;
  margin: -219px auto 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-6 .u-icon-3 {
  height: 30px;
  width: 30px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 11px auto 0 0;
}

.u-section-6 .u-group-3 {
  width: 447px;
  min-height: 30px;
  margin: -39px auto 0 45px;
}

.u-section-6 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-3 {
  animation-duration: 1500ms;
  margin: 0 -7px 0 -30px;
}

.u-section-6 .u-list-4 {
  min-height: 51px;
  grid-template-columns: 100%;
  width: 605px;
  grid-gap: 0px 0px;
  margin: 147px auto 0 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px 30px;
}

.u-section-6 .u-icon-4 {
  height: 30px;
  width: 30px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 1px auto 0 0;
}

.u-section-6 .u-group-4 {
  width: 447px;
  min-height: 30px;
  margin: -30px auto 0 45px;
}

.u-section-6 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-4 {
  animation-duration: 1500ms;
  margin: 0 -7px 0 -30px;
}

.u-section-6 .u-list-5 {
  min-height: 51px;
  grid-template-columns: 100%;
  width: 605px;
  grid-gap: 0px 0px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 10px 30px;
}

.u-section-6 .u-icon-5 {
  height: 30px;
  width: 30px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 1px auto 0 0;
}

.u-section-6 .u-group-5 {
  width: 447px;
  min-height: 30px;
  margin: -30px auto 0 45px;
}

.u-section-6 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-5 {
  animation-duration: 1500ms;
  margin: 0 -7px 0 -30px;
}

.u-section-6 .u-group-6 {
  width: 534px;
  min-height: 338px;
  margin: -321px 15px 0 auto;
}

.u-section-6 .u-container-layout-11 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 250px;
  height: 249px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-6 .u-shape-1 {
    width: 442px;
    height: 323px;
    margin-top: 11px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    width: 447px;
    margin-top: -251px;
    margin-right: 493px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    min-height: 75px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-right: 30px;
    margin-bottom: -1px;
  }

  .u-section-6 .u-list-2 {
    height: auto;
    width: 448px;
  }

  .u-section-6 .u-group-2 {
    width: 373px;
    min-height: 26px;
    margin-right: -30px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 1px;
    margin-right: -30px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -26px;
  }

  .u-section-6 .u-list-3 {
    min-height: 81px;
    height: auto;
    width: 447px;
    margin-top: -228px;
    margin-right: 493px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 16px;
    margin-left: 1px;
  }

  .u-section-6 .u-group-3 {
    width: 369px;
    min-height: 59px;
    margin-top: -43px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: -18px;
  }

  .u-section-6 .u-list-4 {
    height: auto;
    width: 526px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 30px;
  }

  .u-section-6 .u-list-5 {
    height: auto;
    width: 526px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-right: 30px;
  }

  .u-section-6 .u-group-6 {
    width: 427px;
    min-height: 322px;
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-6 .u-shape-1 {
    width: 325px;
    height: 446px;
    margin-top: 0;
    margin-right: 380px;
    margin-left: auto;
  }

  .u-section-6 .u-list-1 {
    min-height: 146px;
    width: 387px;
    margin-top: 0;
    margin-right: 273px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 48px;
  }

  .u-section-6 .u-group-1 {
    width: 312px;
    min-height: 125px;
    margin-top: -77px;
    margin-right: -30px;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-6 .u-list-2 {
    min-height: 73px;
    width: 340px;
  }

  .u-section-6 .u-group-2 {
    width: 252px;
    min-height: 63px;
    margin-top: 0;
    margin-right: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-right: -77px;
    margin-left: 17px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: auto;
  }

  .u-section-6 .u-list-3 {
    min-height: 83px;
    width: 340px;
    margin-top: 0;
    margin-right: 273px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-group-3 {
    width: 303px;
    min-height: 67px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin: 7px -5px -15px;
  }

  .u-section-6 .u-list-4 {
    min-height: 48px;
    width: 387px;
    margin-top: 334px;
  }

  .u-section-6 .u-group-4 {
    width: 313px;
    min-height: 26px;
    margin-top: -29px;
    margin-right: -30px;
    margin-left: auto;
  }

  .u-section-6 .u-list-5 {
    min-height: 83px;
    width: 387px;
    margin-top: -13px;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 22px;
  }

  .u-section-6 .u-group-5 {
    width: 313px;
    min-height: 63px;
    margin-top: -52px;
    margin-right: -30px;
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    margin-top: 12px;
  }

  .u-section-6 .u-group-6 {
    width: 307px;
    min-height: 450px;
    margin-top: -588px;
    margin-right: 15px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-6 .u-shape-1 {
    height: 326px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-list-1 {
    min-height: 96px;
    margin-top: -260px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 23px;
  }

  .u-section-6 .u-group-1 {
    width: 478px;
    min-height: 75px;
    margin-top: -52px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-6 .u-list-2 {
    min-height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-6 .u-group-2 {
    width: 477px;
    min-height: 31px;
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 4px;
    margin-right: -60px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -28px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-6 .u-list-3 {
    min-height: 52px;
    margin-top: -202px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 10px;
  }

  .u-section-6 .u-group-3 {
    width: 488px;
    min-height: 52px;
    margin-top: -40px;
    margin-right: -10px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-right: -10px;
    margin-left: -1px;
  }

  .u-section-6 .u-list-4 {
    margin-top: 150px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-4 {
    width: 478px;
    margin-top: -30px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-5 {
    min-height: 49px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-6 .u-group-5 {
    width: 478px;
    min-height: 28px;
    margin-top: -29px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-6 .u-group-6 {
    min-height: 282px;
    margin-top: 43px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-11 {
    padding: 16px 10px;
  }

  .u-section-6 .u-image-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-6 .u-shape-1 {
    height: 414px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-list-1 {
    min-height: 126px;
    margin-top: -327px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 43px;
    margin-left: 1px;
  }

  .u-section-6 .u-group-1 {
    width: 287px;
    min-height: 125px;
    margin-top: -82px;
    margin-right: -10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-list-2 {
    min-height: 79px;
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-2 {
    width: 286px;
    min-height: 69px;
    margin-top: -9px;
    margin-right: -10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -45px;
    margin-left: 0;
  }

  .u-section-6 .u-list-3 {
    min-height: 76px;
    margin-top: -300px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 23px;
  }

  .u-section-6 .u-group-3 {
    width: 278px;
    min-height: 75px;
    margin-top: -52px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin: 0 -5px 0 0;
  }

  .u-section-6 .u-list-4 {
    margin-top: 218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-6 .u-group-4 {
    width: 278px;
    min-height: 28px;
    margin-top: -31px;
  }

  .u-section-6 .u-list-5 {
    min-height: 70px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 10px;
  }

  .u-section-6 .u-group-5 {
    width: 277px;
    min-height: 50px;
    margin-top: -40px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 25px;
    margin-left: 1px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 1px;
  }
}.u-section-7 {
  background-image: url("images/cyrptonitop.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 111px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation-duration: 1000ms;
  width: 230px;
  margin: 56px auto 22px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 92px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 33px;
  }
}.u-section-8 {
  background-image: url("images/cyrptonitop.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 179px;
}

.u-section-8 .u-group-1 {
  width: 570px;
  min-height: 179px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: 39px auto 0 71px;
}

.u-section-8 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -52px 97px 0 auto;
}

.u-section-8 .u-text-1 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 30px -2px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-8 .u-group-1 {
    width: 552px;
    min-height: 176px;
  }

  .u-section-8 .u-btn-1 {
    border-radius: 50px;
    margin-top: 35px;
    margin-left: 58px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 58px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-8 .u-group-1 {
    min-height: 155px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 32px;
    margin-left: 37px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 59px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 35px;
    margin-left: 58px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 70px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-8 .u-group-1 {
    min-height: 189px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 31px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-9 {
  background-image: url("images/cyrptonitop.png");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 77px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 23px;
  }
}