.u-section-1 {
  background-image: url("images/UIP2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-image-1 {
  width: 525px;
  height: 525px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 32px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 158px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 38px 777px 0 44px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 884px 0 44px;
}

.u-section-2 .u-image-1 {
  width: 318px;
  height: 60px;
  margin: -71px 44px 50px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-right: 661px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 617px;
    margin-left: 50px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 50px;
    margin-bottom: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 42px;
    margin-right: 438px;
    margin-left: 39px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 479px;
    margin-left: 39px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -72px;
    margin-right: 13px;
    margin-bottom: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-text-1 {
    width: 224px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 418px;
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -112px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-2 .u-text-2 {
    width: 212px;
  }
}.u-section-3 {
  background-image: url("images/UIP2.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 732px;
}

.u-section-3 .u-group-1 {
  width: 282px;
  min-height: 326px;
  animation-duration: 1000ms;
  height: auto;
  background-image: none;
  margin: 203px auto 0 37px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 118px;
  width: 118px;
  margin: 18px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 37px 0 0;
}

.u-section-3 .u-group-2 {
  width: 282px;
  min-height: 326px;
  animation-duration: 1000ms;
  height: auto;
  background-image: none;
  margin: -326px auto 0 429px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 118px;
  width: 118px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 52px 0 0;
}

.u-section-3 .u-group-3 {
  width: 282px;
  min-height: 326px;
  animation-duration: 1000ms;
  height: auto;
  background-image: none;
  margin: -326px auto 60px 821px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 118px;
  width: 118px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 52px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-3 .u-group-1 {
    background-position: 50% 50%;
    margin-top: 60px;
    margin-left: 19px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    background-position: 50% 50%;
    margin-left: 329px;
    height: auto;
  }

  .u-section-3 .u-group-3 {
    background-position: 50% 50%;
    margin-left: 639px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-3 .u-group-1 {
    width: 646px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-group-2 {
    width: 646px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
  }

  .u-section-3 .u-group-3 {
    width: 646px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 1018px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 1710px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
  width: 1300px;
  margin-right: 0;
  margin-left: 0;
}

.u-section-4 .u-sheet-1 {
  min-height: 265px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation-duration: 1500ms;
  margin: 4px 303px 0 34px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  line-height: 1.8;
  animation-duration: 1500ms;
  margin: 0 34px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: 250px;
    margin-left: -113px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 185px;
    margin-bottom: 11px;
    margin-left: -113px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 436px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 628px;
  }
}.u-section-5 {
  background-image: url("images/ugh.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 433px;
}

.u-section-5 .u-icon-1 {
  height: 195px;
  width: 195px;
  margin: 60px auto 0 353px;
}

.u-section-5 .u-icon-2 {
  height: 195px;
  width: 195px;
  background-image: none;
  margin: -195px 307px 0 auto;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: -129px auto 0 411px;
}

.u-section-5 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: -64px 373px 126px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-5 .u-icon-1 {
    height: 193px;
    width: 157px;
    margin-top: 102px;
    margin-left: 273px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -194px;
    margin-right: 242px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -130px;
    margin-left: 319px;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 308px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-5 .u-icon-1 {
    width: 195px;
    margin-left: 31px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 20px;
    margin-right: 242px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 20px;
    margin-right: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 37px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -130px;
    margin-right: auto;
    margin-left: 411px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: -64px;
    margin-right: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 276px;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 276px;
  }
}