.u-section-1 {
  background-image: url("images/arkanewnewneew.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 562px;
}

.u-section-1 .u-image-1 {
  width: 222px;
  height: 221px;
  margin: 103px auto 0 760px;
}

.u-section-1 .u-image-2 {
  width: 301px;
  height: 51px;
  margin: 10px 119px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 299px;
  height: 449px;
  margin: -328px auto 0 103px;
}

.u-section-1 .u-image-4 {
  width: 424px;
  height: 72px;
  margin: -129px 57px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 6px;
    margin-right: 178px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 6px;
    margin-right: 139px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -278px;
    margin-left: 62px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -162px;
    margin-right: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-image-1 {
    width: 221px;
    margin-right: 76px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 49px;
  }

  .u-section-1 .u-image-3 {
    width: 239px;
    height: 359px;
    margin-top: -258px;
    margin-left: 29px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -95px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-1 .u-image-1 {
    width: 222px;
    margin-top: 44px;
    margin-right: 48px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 202px;
    height: 304px;
    margin-top: -291px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 32px;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-image-1 {
    width: 148px;
    height: 148px;
    margin-top: 57px;
    margin-right: 22px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    width: 145px;
    height: 217px;
    margin-top: -294px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 58px;
    margin-top: 144px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 138px;
}

.u-section-2 .u-image-1 {
  width: 73px;
  height: 73px;
  margin: 21px auto 0 58px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -60px 726px 0 213px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 758px 0 213px;
}

.u-section-2 .u-image-2 {
  width: 145px;
  height: 24px;
  margin: -10px auto 0 22px;
}

.u-section-2 .u-image-3 {
  width: 318px;
  height: 60px;
  margin: -79px 44px 40px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 69px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -51px;
    margin-right: 535px;
    margin-left: 197px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 554px;
    margin-left: 197px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 8px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -77px;
    margin-right: 55px;
    margin-bottom: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 425px;
    margin-left: 158px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 444px;
    margin-left: 158px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 13px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 62px;
  }

  .u-section-2 .u-text-1 {
    width: 220px;
    margin-top: -61px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -37px;
    margin-right: -21px;
    margin-left: 348px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 38px;
    margin-left: 26px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -42px;
    margin-right: 25px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 16px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-right: 54px;
    margin-left: 85px;
  }

  .u-section-2 .u-text-2 {
    width: 169px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -148px;
    margin-right: 54px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 181px;
    margin-right: auto;
    margin-bottom: 21px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 546px;
}

.u-section-3 .u-image-1 {
  width: 282px;
  min-height: 326px;
  background-image: url("images/20e95a861ec908f8eef9711bc9200a72.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 60px auto 0 37px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 118px;
  width: 118px;
  margin: 18px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-3 .u-image-2 {
  width: 282px;
  min-height: 326px;
  animation-duration: 1000ms;
  background-image: url("images/20e95a861ec908f8eef9711bc9200a72.jpg");
  background-position: 50% 50%;
  margin: -326px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 118px;
  width: 118px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 52px 0 0;
}

.u-section-3 .u-image-3 {
  width: 282px;
  min-height: 326px;
  background-image: url("images/20e95a861ec908f8eef9711bc9200a72.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -326px 37px 60px auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 118px;
  width: 118px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 52px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 363px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-3 .u-image-1 {
    width: 646px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-image-2 {
    width: 646px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 646px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-3 .u-image-1 {
    min-height: 288px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 37px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-3 .u-image-1 {
    min-height: 355px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 265px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  animation-duration: 1500ms;
  font-weight: 700;
  margin: 4px 303px 0 34px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  line-height: 1.8;
  animation-duration: 1500ms;
  margin: 0 34px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 101px;
    margin-left: 36px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 628px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 340px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 138px 766px 0 146px;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -60px auto 0 942px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 12px 484px 0 146px;
}

.u-section-5 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  background-image: none;
  margin: -24px auto 0 942px;
  padding: 10px 40px;
}

.u-section-5 .u-icon-1 {
  height: 98px;
  width: 98px;
  background-image: none;
  margin: -109px auto 60px 32px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 89px;
    margin-right: 602px;
    margin-left: 110px;
  }

  .u-section-5 .u-btn-1 {
    border-radius: 50px;
    margin-top: -61px;
    margin-left: 747px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 320px;
    margin-left: 110px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 747px;
  }

  .u-section-5 .u-icon-1 {
    height: 80px;
    width: 65px;
    margin-top: -101px;
    margin-left: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 28px;
    margin-right: 331px;
    margin-left: 190px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 39px;
    margin-left: 335px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -91px;
    margin-right: 39px;
    margin-left: 190px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 11px;
    margin-right: 39px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-1 {
    width: 98px;
    margin-top: -102px;
    margin-bottom: 50px;
    margin-left: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 21px;
    margin-right: 317px;
    margin-left: 25px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 66px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: -111px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -68px;
    margin-bottom: 25px;
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 65px;
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 78px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -120px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    height: 89px;
    width: 110px;
    margin: -219px 0 60px auto;
  }
}